<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ContactlabApiClientExamples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <extensions>
        <bindingElementExtensions>
          <add name="httpCookieSession" type="Microsoft.ServiceModel.Samples.HttpCookieSessionBindingElementElement, HttpCookieSessionExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </bindingElementExtensions >
    </extensions>
    <bindings>
      <customBinding>
        <binding name="customHttpBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport allowCookies="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://soapnext.contactlab.it/soap/services?wsdl"
          binding="customBinding" bindingConfiguration="customHttpBinding"
          contract="ContactLabAPIClient.ClabService.ClabService" name="ClabService" />
    </client>
  </system.serviceModel>
  <userSettings>
    <ContactlabApiClientExamples.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="UserKey" serializeAs="String">
        <value></value>
      </setting>
    </ContactlabApiClientExamples.Properties.Settings>
  </userSettings>
</configuration>
