<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ClabServicePortBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://soapnext.contactlab.it:443/soap/services"
                binding="customBinding" bindingConfiguration="ClabServicePortBinding"
                contract="ContactLabAPIClient.ClabService.ClabService" name="ClabServicePort" />
        </client>
    </system.serviceModel>
</configuration>